@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.testblue {
  color: blue;
}
.button {
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #f9f9f9;
  padding: 0.2rem;
}
.button:hover {
  border-bottom: 2px solid #757575;
}
.upload-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 1rem;
}
.upload-container h3 {
  margin: 1rem 0;
  border-bottom: 1px solid #b6b6b6;
}
.model-table {
  min-width: 50%;
}
.model-table tr:hover td:first-child {
  background-color: rgba(139, 215, 204, 0.41);
}
.theader {
  border-bottom: 1px solid #2a7bf2;
}
.dropzone-container {
  background-color: #e9e9e9;
  border: 1px dashed #1644a3;
  display: block;
  padding: 1rem;
  max-width: 15rem;
}
.dropzone-container:hover {
  background-color: #f0f0f0;
}
.landing-page-container {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0.5rem;
}
.landing-page-list-container {
  display: flex;
  flex-wrap: wrap;
}
.landing-page-list-container .landing-page-list {
  flex: 1;
  min-width: 33%;
}
.landing-page-list {
  padding: 0.5rem;
}
.landing-page-list li {
  padding-left: 0.1rem;
}
.landing-page-list li:hover {
  background-color: rgba(139, 215, 204, 0.41);
}
.landing-page-navigation {
  height: 1.8rem;
  list-style: none;
  margin: 0;
  padding-right: 10px;
  overflow: auto;
  background-color: #ecebeb;
  border-bottom: 1px solid #c6c6c6;
}
.landing-page-selected h4 {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: rgba(139, 215, 204, 0.13);
}
.nav-inner {
  margin: 0 auto;
  max-width: 1080px;
}
.nav-link {
  border-bottom: none;
  display: block;
  float: left;
  line-height: 1.8rem;
  font-size: 1rem;
  padding: 0 0.2rem;
  color: inherit;
}
.nav-link:hover {
  color: #452323;
  border-bottom: 1px solid #452323;
}
.nav-link .active {
  border-bottom: 1px solid #f9f9f9;
}
.nav-brand {
  font-weight: bold;
}
.dialog {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: #f8f8f8;
  border: 1px solid lightgrey;
  -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.29);
}
.dialog .close {
  width: 100%;
  text-align: right;
}
.dialog .close i {
  color: #b4b4b4;
  font-size: 28px;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.dialog .close i:hover {
  color: #898989;
}
.dialog .content {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
.dialog .content label {
  display: inline-block;
  margin-bottom: .5rem;
  width: 100%;
  margin: 0;
  font-size: 11px;
  padding: 0 0 5px 15px;
}
.dialog .content input {
  overflow: visible;
  width: 90%;
  margin: 0 0 0 15px;
  font-size: 12px;
}
.dialog .content select {
  width: 90%;
  margin: 0 0 0 15px;
  font-size: 12px;
}
.dialog .content button {
  float: left;
  margin: 15px 0 0 15px;
}
.dialog .tree ul {
  margin-left: 15px;
}
.dialog .tree ul span {
  margin-right: 5px;
}
.dialog .tree ul i {
  color: #727272;
  margin-left: 5px;
  cursor: pointer;
}
.dialog .tree ul i:hover {
  color: #494949;
}
